<!DOCTYPE html>
<html lang="en">
{{template "header" .}}
<body>
<div>
    {{template "nav" .}}
    <div class="container">
        <div class="normal-container">
            <article id="messageToast" class="message is-danger" style="display: none">
                <div class="message-body" id="messageToastText">

                </div>
            </article>
            {{template "progress"}}
            <div class="box">
                <div class="table-container">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <div class="page-card-title" style="color: #368CCB;font-size: x-large">Go-Storage {{.option.Version}} 文档</div>

                                    <div class="columns is-multiline ">
                                        <div class="column is-5">
                                            <div class="is-center is-4" >
                                                <img src="/static/static/favicon.png" style="width: auto;height: 300px;">
                                            </div>
                                        </div>
                                        <div class="column is-7">
                                            <div  style="font-size: small">
                                                <h4>基本功能</h4>
                                                <ul>
                                                    <li>
                                                        上传文件：点击右上角的上传按钮进行上传，支持多文件上传，拖拽上传。
                                                    </li>
                                                    <li>
                                                        下载文件：点击下载图标即可。
                                                    </li>
                                                    <li>
                                                        搜索文件：导航栏右上角搜索栏，按回车搜索，关键词可以是文件名，上传日期，
                                                        上传者和描述信息。
                                                    </li>
                                                </ul>
                                                <h4>Q&A</h4>
                                                <ul>
                                                    <li>
                                                        问：<text style="color: red">为何会有这个项目？为何会有这个项目？</text><br>
                                                        在公司中，运维人员需要经常向后台录入图片或者文件，靠着本来的软件上传图片效率低，无法管理已经上传的图片，且无法做到多人协作。<br>
                                                        这个都可以做到!!!，而且网页版比软件方便
                                                    </li>
                                                    <li>
                                                        问：其他优势有没有？<br>
                                                        多种权限控制，保证文件安全。且搜索功能挺强大的，日期，名称，或者描述信息。
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "footer" .}}
</div>

{{template "modal"}}

</body>
</html>
